<div style="text-align:center">
  <h1 i18n>
    Welcome to {{ title }}!
  </h1>
</div>
<h2 i18n>Links: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Angular Tutorial</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://mdbootstrap.com/docs/angular/">Angular-Bootstrap-MD (MaterialDesign)</a></h2>
  </li>
</ul>

